.button {
    padding: .2rem 1rem;
    height: 3rem;
    font-weight: bold;
    line-height: 2.5rem;
    letter-spacing: .5px;
    color: $color__white;
    background: $background__button;
    border: 1px solid $background__button;
    @include input-border();
    @include focusable();
    
    &:hover {
        background: darken($background__button, 10%);
    }

    &:focus {
        background: darken($background__button, 20%);
        @include focusable-focus();
    }
}

.button-link {
    display: inline-block;
    padding: .2rem 1rem;
    height: 3rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: $color__link;
    border: 1px solid transparent;
    @include focusable();

    &:hover {
        color: darken($color__link, 10%);
    }

    &:focus {
        color: darken($color__link, 30%);
        @include focusable-focus();
    }
}