// Available color variables
$color__white:         white;
$color__black-russian: #202124;
$color__shuttle-grey:  #5f6368;
$color__grey-chateau:  #abadaf;
$color__solitude:      #d6d8db;
$color__summer-sky:    #4dabf7;
