// Z-index master list
$zindex__dropdown:       1000 !default;
$zindex__sticky:         1020 !default;
$zindex__fixed:          1030 !default;
$zindex__modal-backdrop: 1040 !default;
$zindex__modal:          1050 !default;
$zindex__popover:        1060 !default;
$zindex__tooltip:        1070 !default;