.autocomplete {
    position: relative;
    z-index: $zindex__dropdown;

    .menu {
        position: absolute;
        left: 0;
        top: $size__inputs-buttons;
        width: 100%;
        background: $color__white;
        box-shadow: 0 2px 10px 0 rgba($color__text-body, .4);
    }

    .item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        min-height: $size__inputs-buttons;
        padding: $padding__input;

        &:hover {
            background-color: $background__button;

            > .title,
            > .meta {
                color: $color__white;
            }
        }

        .title {
            display: block;
            width: 100%;
            font-weight: bold;
            color: $color__text-headings;
        }
        
        .meta {
            display: block;
            width: 100%;
            font-size: $font-size__small;
        }
    }
}