// Colorings for draft purposes

#app {
    color: darkmagenta;
}

.header {

    .container {
        background: #ddffff;
    }
}

.aside {
    
    .container {
        background: #faddfa;
    }
}

.main {

    .container {
        background: #ffccdd;
    }
}

.footer {

    .container {
        background: #ddffff;
    }
}