// Colorings for draft purposes
#app {
    background: #eff6fc;
}

.header {
    background: #d9e9f7;

}

.aside {
    .container {
        background: white;
    }
}

.main {

    .container {}
}

.footer {
    background: #d9e9f7;
}