#app {
    background: #faf0f0;
}

.disabled { color: $color__text-muted }

// Text adjustments
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-centered { text-align: center; }